<h2>タイトル</h2>
<p><%= @food.title %></p>

<h2>本文</h2>
<p><%= @food.text %></p>

<% @food.images.each do |image| %>
  <p><%= image_tag image %></p>
<% end %>

<%# unless @food.requests.exists?(user_id: current_user.id) %>
<% unless @food.requested_by?(current_user) %>
  <p>
    <%= link_to food_requests_path(@food), method: :post do %>
      譲受申請
    <% end %>
  </p>
<% end %>

<% if @food.favorited_by?(current_user) %>
  <p>
    <%= link_to food_favorites_path(@food.id), method: :delete do %>
      ★<%= @food.favorites.count %> お気に入り
    <% end %>
  </p>
    <% else %>
  <p>
    <%= link_to food_favorites_path(@food.id), method: :post do %>
      ☆<%= @food.favorites.count %> お気に入り
    <% end %>
  </p>
<% end %>

<p><%= link_to "編集", edit_food_path %></p>

<div class = "comments">
<%= form_with(model:[@food, @comment], method: :post) do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :food_id, value: @food.id %>
  <%= f.submit 'コメントする' %>
<% end %>
</div>

<% @comments.each do |comment| %>
<div>
  <%= comment.comment %>
</div>
<% end %>

<p><%= link_to "戻る", foods_path %></p>



